.main{
    background-image:url("../sources/task3/翻牌2底板.png");
    width:640px;
    height:1096px;
    float:left;
}
.back{
    width:24px;
    height:44px;
    float:left;
    margin-top:25px;
    margin-left:23px;
}
.close{
    width:36px;
    height:36px;
    float:right;
    margin-right:18px;
    margin-top:35px;
}
.number{
    font-size:40px;
    width:70px;
    height:70px;
    margin-top:141px;
    margin-left:284px;
    color:red;
    font-family:"Microsoft YaHei UI",serif;
    font-weight:bold;
    text-align:center;
    line-height:70px;
}
.next{
    margin-top:417px;
    margin-left:74px;
    width:491px;
    height:83px;
    font-size:40px;
    color:#ffffff;
    line-height:83px;
    text-align:center;
    font-family:"Microsoft YaHei UI Light",serif;

}
.identity{
    font-size:40px;
    font-family: Simhei, serif;
    color:#29bde0;
    width:640px;
    height:40px;
    line-height:40px;
    margin-top:280px;
    text-align: center;
}