.background{
    width:640px;
    height:1096px;
    background-image:url(../sources/task4/法官台版底板.png);
    float:left;

}
.back{
    float:left;
    width:35px;
    height:52px;
    margin-top:24px;
    margin-left:18px;
    cursor:pointer;
}

.close{
    float:right;
    margin-top:30px;
    margin-right:22px;
    width:47px;
    height:47px;
    cursor:pointer;
}
.main{
    float:left;
    padding-top:45px;
    margin-top:8px;
    width:641px;
    height:827px;
    overflow: auto;
}
.main::-webkit-scrollbar{
    width:5px;
    background-color:rgb(36,167,198);
}



.date{
    float:left;
    margin-top:1px;
    margin-left:9px;
    width:620px;
    height:84px;
    font-size:30px;
    font-family:"SimHei",serif;
    color:#29bde0;
    text-align:center;
    line-height:86px;
    border:1px solid rgb(205,205,205);
    background-color:#ffffff;
}
.tri{
    float:left;
    width:630px;
    height:15px;
    margin-top:0;
    margin-left:5px;
    background-image: url(../sources/task4/三角展开符号.png);
    background-position:center;
    background-repeat:no-repeat;
}
.mainAction{
    width:520px;
    float:left;
    margin-top:0;  /*为什么需要-30呢?不懂,好吧, 原来是因为date设置了margin 45 0;包括margin-bootom也等于45px*/
    margin-left:0;
    padding-top:24px;
    background-color:#ffffff;
    height:698px;

}

.action{
    width:484px;
    float:left;
    margin-top:10px;
    margin-bottom:10px;
    background-image:url("../sources/task4/状态栏.png");
    background-repeat:no-repeat;
    background-position:0 0;
    text-align:center;
    line-height:76px;
    font-size:30px;
    color:#ffffff;
    font-family: "Microsoft YaHei UI",serif;
    cursor:pointer;
}
.action:hover{
    color:rgb(59,89,152);
}
.aside{
    float:left;
    margin-left:9px;

    width:78px;
    height:721px;
    margin-top:0;
    background-color:#ffffff;
    position: relative;
}
.line{
    float:left;

    border:2px solid #c9c9c9;
    height:721px;
    position:absolute;
    left:36px;
    top:0;
    z-index:1;

}
.moon{
    width:60px;
    height:60px;
    top:42px;
    left:8px;
    background-image:url(../sources/task4/夜晚状态符号.png);
    z-index:2;
    background-color:#ffffff;
    position:absolute;
}
.sun{
    width:60px;
    height:60px;
    top:138px;
    left:8px;
    background-image:url(../sources/task4/白天状态符号.png);
    background-color:#ffffff;
    position: absolute;
    z-index:2;


}

.left-button{
    width:270px;
    height:85px;
    background-color:rgb(248,189,59);
    border-radius:8px;
    color:#ffffff;
    font-size:40px;
    font-family: "Microsoft YaHei UI",serif;
    text-align:center;
    line-height:85px;
    margin-top:30px;
    margin-left:35px;
    float:left;
    cursor:pointer;
}
.left-button:hover{
    color:rgb(59,89,152);
}
.right-button{
    width:270px;
    height:85px;
    background-color:rgb(248,189,59);
    border-radius:8px;
    color:#ffffff;
    font-size:40px;
    font-family: "Microsoft YaHei UI",serif;
    text-align:center;
    line-height:85px;
    margin-top:30px;
    margin-right:35px;
    float:right;
    cursor:pointer;
}
.right-button:hover{
    color:rgb(59,89,152);
}

.bonus{
    width:484px;
    height:70px;
    font-size:23px;
    font-family: "Microsoft YaHei UI",serif;
    float:left;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:20px;
    text-align:center;
    padding-top:10px;
    color:#000000;
}
