.main{
    background-image: url("../sources/task3/法官日记底板.png");
    width:640px;
    height:1096px;
    float:left;
}

.close{
    background-image:url("../sources/task3/右上关闭按钮.png ");
    width:36px;
    height:36px;
    float:left;
    margin-left:531px;
    margin-top:30px;
    cursor:pointer;
}
.line{
    width:640px;
    float:left;
    margin-top:20px;
    border:1px #74e4db;
}
.list{
    width:640px;
    height:820px;
    float:left;
    margin:30px auto;
    overflow: auto;

}
.list::-webkit-scrollbar{
    width:5px;
    background-color:#ffffff;

}
.id{
    float:left;
    margin:70px 35px 0 35px;
    width:136px;
    height:136px;
    background-image:url(../sources/task3/目标头像.png);
    background-position:0 0;
    background-repeat: no-repeat;
    cursor:pointer;
}
.id:hover{
    color:rgb(59,89,152);
}

.order{
    width:136px;
    height:105px;
    float:left;
    font-size:30px;
    color:#000000;
    font-family: Simhei, serif;
    text-align:center;
    line-height:114px;
}
.num2{
    width:136px;
    height:31px;
    float:left;
    font-size:22px;
    line-height:30px;
    color:#ffffff;
    font-family: Simhei, serif;
    font-weight:bold;
    text-align:center;

}
.back{
    margin-top:50px;
    margin-left:83px;
    float:left;
    width:492px;
    height:89px;
    font-family:"Microsoft YaHei UI Light", serif;
    color:#ffffff;
    font-size:37px;
    line-height:83px;
    text-align:center;
    cursor:pointer;
}
.back:hover{
    color:rgb(59,89,152);
}