.background
{
    background-image:url(../sources/taks1&2/3-背景板.png);
    width:640px;
    height:1096px;
    padding-top:1px;
    position:relative;
}
.setting{
    background-image: url(../sources/taks1&2/3-左上主页按钮.png);
    position: absolute;
    top:23px;
    left:20px;
    width:51px;
    height:42px;
}
.head-words{
    position:absolute;
    top:35px;
    left:250px;
    font-size:34px;
    font-family:Simhei,serif;
    line-height:34px;
    color:#ffffff;
}
.moreinf{
    position:absolute;
    left:582px;
    top:24px;
    width:40px;
    height:40px;
    background-image: url(../sources/taks1&2/3-右上信息按钮.png);
}
.result{
    width:350px;
    height:210px;
    position: absolute;
    background-image: url(../sources/taks1&2/3-结果花圈.png);
    left:145px;
    top:113px;
}
.cup{
    width:85px;
    height:84px;
    background-image: url(../sources/taks1&2/3-结果奖杯.png);
    position:absolute;
    top:22px;
    left:135px;
}
.result-discription{
    position: absolute;
    left:79px;
    top:143px;
    font-family: Simhei, serif;
    line-height: 48px;
    font-size:48px;
    color:#ffffff;

}
.discription2{
    position:absolute;
    left:77px;
    top:340px;
    width:481px;
    font-size:33px;
    font-family: Simhei, serif;
    color:#ffc865;
    line-height:40px;
}
.discription3{
    font-size:26px;
    line-height:36px;
    font-family: "Microsoft YaHei UI Light", serif;
    color:#ffffff;
    width:470px;
    height:189px;
    position: absolute;
    left:75px;
    top:497px;
}

.record{
    width:640px;
    height:384px;
    position:absolute;
    left:0;
    top:712px;
    font-family: "Microsoft JhengHei UI Light",serif;
}
.day1{
    height:167px;
    font-size:26px;
    color:#a6a6a6;
    line-height:36px;
    position:relative;
    padding-left:77px;
    padding-top:14px;
}
.day2{
    height:167px;
    font-size:26px;
    color:#a6a6a6;
    line-height:36px;
    position:relative;
    padding-left:77px;
    padding-top:14px;
}
.time{
    position:absolute;
    font-family: "Microsoft YaHei UI Light",serif;
    font-size:20px;
    color:#c7c7c7;
    left:436px;
    top:22px;
    width:120px;
    line-height:22px;
}
.dayNumber{
    font-size:30px;
    line-height:30px;
    height:30px;
    font-family: Simhei, serif;
    color:#515151;
}
.oncemore{
    width:271px;
    height:86px;
    background-image:url(../sources/taks1&2/3-左下按钮.png);
    position:absolute;
    top:991px;
    left:25px;
    font-size:40px;
    font-family: "Microsoft YaHei UI",serif;
    color:#ffffff;
    text-align:center;
    line-height:86px;
}
.share{
    width:271px;
    height:86px;
    background-image:url(../sources/taks1&2/3-右下按钮.png);
    position:absolute;
    top:991px;
    left:345px;
    font-size:40px;
    font-family: "Microsoft YaHei UI",serif;
    color:#ffffff;
    text-align:center;
    line-height:86px;
}
